.incExcSection {
  margin-top: 0px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: 500;
  color: #1f2d4d;
  margin-bottom: 20px;
}

.divider {
  border: 0;
  border-top: 1px solid #eaeaea;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    
    span {
      color: #7c8795;
      font-size: 16px;
    }
  }
}

.checkIcon {
  color: #28a745;
  font-size: 22px;
  flex-shrink: 0;
}

.crossIcon {
  color: #f65246;
  font-size: 16px; // XLg is a bit wider, slightly smaller font size helps balance it with Check
  flex-shrink: 0;
  margin-left: 3px; // Balance the visual weight
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
